body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8d0505;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.task-input {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    width: 400px;
    max-width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.task-input input, .task-input textarea {
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: calc(100% - 20px);
}

.task-input button {
    background-color:  #8d0505;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
}

.tasks-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.task-category {
    width: 45%;
}

.task-category h2 {
    text-align: center;
    color: #333;
}

.task {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.task h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.task p {
    margin: 0;
    font-size: 14px;
}

.task .buttons {
    display: flex;
    justify-content: space-between;
}

.task button {
    background-color: transparent;
    border: none;
    color: #f5ba13;
    cursor: pointer;
    font-size: 20px;
}


